*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color:#303030;
}
h1{
    color:white;
}
#header{
    width:100%;
    height:80px;
    display:block;
    background-color:#212121;
}
.inner-header{
    width:1060px;
    height:100%;
    display:block;
    margin:0 auto;
    background-color:#212121;
}
.navigation{
    float:right;
    height:100%;
}
.navigation li{
    height:100px;
    display:table;
    float:left;
    padding: 0px 20px;
}
.navigation li a{
    display:table-cell;
    vertical-align:middle; 
    height:100%;
    color:#FFFDF7;
    font-size:16px;
    font-family:"Rubik";
    text-transform: uppercase;
}
.hover::after{
    content:'';
    display:block;
    width:0;
    height:2px;
    background:#0067CE;
    transition:width .3s;
}
.hover:hover::after{
    width:100%;
    transition:width .3s;
}

.search-box{
    position:absolute;
    top:20%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#0067CE;
    height:30px;
    border-radius: 40px;
    padding:10px;
}
.search-btn{
    color:white;
    float:right;
    width:35px;
    height:35px;
    border-radius: 50%;
    background:#0091ea;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.search-txt{
    border:none;
    background:none;
    outline: none;
    float:left;
    padding:0;
    font-size:16px;
    transition: 0.4s;
    line-height: 30px;
    width:240px;
    color:white;
}
::placeholder{
    color:white;

}



.list-group-item
  {
    overflow:hidden;  
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
  }
.list-group-item:hover {
    background-color: #0067CE;
}